.c-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
}

.c-card {
  padding: 1em;
  background-color: antiquewhite;
}

.c-card + .c-card {
  margin-left: 1em;
}
