html,
body,
#root,
.site-wrap {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.5)), #2B3A42;
  color: #3F5765;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
  text-align: left !important;
}

#root {
  padding: 2vw;
}

.site-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.c-card {
  position: relative;
  max-height: 350px;
  max-width: 300px;
  min-width: 120px;
  min-height: 140px;
  width: 30vw;
  height: 40vw;
  font-size: 1rem;
  background-color: #EFEFEF;
  border-radius: 10px;
}

.c-card + .c-card {
  margin-left: 1em;
}

.c-debug-panel {
  position: absolute;
  bottom: 0;
}

.c-debug-button {
  border: none;
  background-color: #FF530D;
  padding: 0.5rem;
}

.c-debug-button + .c-debug-button {
  margin-left: 1rem;
}

.c-player {
  color: #EFEFEF;
  position: absolute;
  top: 0;
  left: 0;
}

.c-deck {
  color: #EFEFEF;
  position: absolute;
  top: 0;
  right: 0;
}
