html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
  text-align: left !important;
}

#root {
  padding: 2rem;
}

.site-wrap {
  background: #f4f4f4;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex--column {
  flex-direction: column;
}

.card {
  width: 25vw;
  height: 35vw;
  min-width: 125px;
  min-height: 175px;
  max-height: 350px;
  max-width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  border: none;
  /* border-radius: 1rem; */
  transition: transform 0.25s cubibezier(0, 0.5, 1, 1);
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card + .card {
  margin-left: 2rem;
}

.info-panel {
  margin-top: 2rem;
}

.info-panel__element {
  padding: 1rem;
  background: #FFFFFF;
}

.info-panel__element + .info-panel__element {
  margin-left: 2rem;
}

.debug-panel {
  display: none;
  position: absolute;
  bottom: 0;
}

.debug-button {
  border: none;
  background-color: #FF530D;
  padding: 0.5rem;
}

.debug-button + .debug-button {
  margin-left: 1rem;
}
